// Media queries breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Name Colors

// RGB Colors

// HEX Colors
$site-color: #01a1b7;
$theme-color: #141414;
$nurse-color: #002b48;
$btn-border-color: #00b087;
$table-body-color: #f6f8fa;
$table__head-color: #eef0f4;
$sider-border-color: #eef0f4;
$input__border-color: #000000;
$sidebar__menu-color: #f2fafb;
$table-body-text-color: #008767;
$btn-active-text-color: #FF0000;
$site__background-color: #f7f8fa;
$sidebar__background-color: #fff;
$auth__login-text-color: #787f95;
$sidebar__menu-text-color: #01a1b7;
$btn-active-background-color: #FF9E9E;
$table-body-background-color: #16c09861;
