// Media queries breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Name Colors

// RGB Colors

// HEX Colors
$site-color: #01a1b7;
$theme-color: #141414;
$nurse-color: #002b48;
$sider-border-color: #eef0f4;
$input__border-color: #000000;
$sidebar__menu-color: #F2FAFB;
$sidebar__background-color: #fff;
$sidebar__menu-text-color: #01A1B7;
