.site-layout-sub-header-background {
  @include flexLayout(flex, space-between, center, 0px, row nowrap);
  padding: 0 80px;
}

.search-input {
  font-size: 18px;
  color: $sidebar__menu-text-color;
}

.header-icon {
  width: 20px;
  height: 20px;
}

.header-box {
  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
