.ant-checkbox {
  background-color: $sidebar__menu-text-color !important;
}

.ant-checkbox-input {
  background-color: $sidebar__menu-text-color !important;
}

.ant-checkbox-inner {
  border-color: $sidebar__menu-text-color !important;
  background-color: $sidebar__menu-text-color !important;
}
