.hero {
  &-title {
    font-size: 26px;
    font-weight: 600;
    color: $nurse-color;
    line-height: 31.02px;
  }

  &__box {
    margin-bottom: 30px;
    @include flexLayout(flex, space-between, center, 0, row nowrap);
  }

  &__button-group {
    @include flexLayout(flex, flex-end, center, 20px, row nowrap);
    &-btn {
      font-size: 14px;
      padding: 25px 40px;
      @include flexLayout(flex, space-between, center, 20px, row nowrap);
    }

    &-icon {
      font-size: 25px;
    }
  }
}
