.table {
  width: 100%;
  border: none;
  text-align: center;
  border-radius: 8px 8px 0 0;

  &-head {
    background-color: $table__head-color;
  }

  &-th {
    padding: 20px;

    &-title {
      @include headingFonts(
        $auth__login-text-color,
        14px,
        500,
        16.48px,
        uppercase
      );
    }
  }

  &-td {
    padding: 20px;
    border-bottom: 3px solid $table-body-color;
    background-color: $sidebar__background-color;
  }

  &__list {
    gap: 50px;
    @include flexLayout(flex, center, center, 30px, column nowrap);
  }

  &__item {
    &-btn {
      border-radius: 4px;
      padding: 12px 30px;
      color: $table-body-text-color;
      border: 1px solid $btn-border-color;
      background-color: $table-body-background-color;

      &--red {
        color: $btn-active-text-color;
        border: 1px solid $btn-active-text-color;
        background-color: $btn-active-background-color;
      }
    }
  }
}
